
.drone_desc{
    font-size: 24px;
    font-weight: 300px;
    font-family: sans-serif;
    text-align: justify ;
    
}
.photography{
    margin-top: 150px;
    text-align:start;
    padding-left: 250px;
}
.drone_btn{
    background-color:crimson;
    font-size: 30px;
    color: #ffff;
    padding:5px;
    border-radius: 10px;
    width: 200px;
}
.drone_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .drone_btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .drone_btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  .drone_btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;

  }

  .drone_btn:link,
.drone_btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }